body, html {
    padding: 0px;
    margin: 0px;
    font-family: arial;
    background-color: #eee;
}

button {
    display: inline-block;
    height: 32px;
    width: 32px;
    vertical-align: middle;
    margin-top: 15px;
}

button#pause {
    font-size: 1.05em;
}

main {
    width: 500px;
    text-align: center;
    margin-left: calc(50vw - 250px - 1em);
    margin-top: max(calc(40vh - 125px - 1em), 1em);
    border: 1px solid gray;
    padding: 1em;
    background-color: white;
    position: absolute;
    z-index: 1;
}

canvas {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
}
